/* General Styles */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.screen {
    display: none;
    text-align: center;
    padding: 20px;
    background-color:#E6E6E6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: #E4CCFF;
}

.container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #E4CCFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #E4CCFF;
}

/* Display the first screen by default */
#signin-screen {
    display: block;
}
